#municipalities path {
  fill: #72a536;
  stroke: black;
  stroke-width: 0.5px;
}

#tg-map {
  padding-left: 7vmax;
  max-width: 77%;
}

#lakes path {
  fill: deepskyblue;
}

#municipalities path:hover {
  fill: rgb(195, 156, 60);
}

#tooltip-map {
  position: absolute;
  padding: 10px;
  background: rgba(211, 211, 211, 0.8);
  color: black;
  border-radius: 8px;
  pointer-events: none;
}

#tooltip-map.do-not-display {
  display: none;
}

.tooltip-column {
  display: flex;
  justify-content: space-between;
}
